body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../image/background.png);
    font-family: Courier, Verdana;
}
a {
    color: #3cb878;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.form-control {
    padding: 10px 15px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    display: block;
    width: 298px;
}
.form-control:focus {
    outline: none;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}
.wrapper {
    height: 100%;
    width: 100%;
    color: #fff;
}
.header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 14px 80px;
}
.logo {
    float: left;
}
.logo a {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.logo a:hover {
    color: #3cb878;
    text-decoration: none;
}
.nav, .log {
    float: right;
}
.clearfix {
    clear: both;
}
.nav ul {
    margin: 0;
    list-style: none;
}

.nav li {
    padding: 0 10px;
    display: block;
    float: left;
}
.log {
    margin-left: 30px;
}
.icon-calendar {
    height: 19px;
    width: 19px;
    background-image: url(../image/calendar.png);
    display: block;
}
.icon-calendar:hover {
    background-image: url(../image/calendar-green.png);
}
.icon-forum {
    height: 20px;
    width: 28px;
    background-image: url(../image/forum.png);
    display: block;
}
.icon-forum:hover {
    background-image: url(../image/forum-green.png);
}
.icon-jorney {
    height: 20px;
    width: 20px;
    background-image: url(../image/jorney.png);
    display: block;
}
.icon-jorney:hover {
    background-image: url(../image/jorney-green.png);
}

.content {
    padding: 80px 0;
}

.form {
    color: #b4b4b4;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.4);
    width: 330px;
    padding: 30px 60px;
    margin: 0 auto;
}

.form-row {
    margin: 10px 0;
}

.submit-button {
    background-color: #3cb878;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
}

.title {
    margin: 20px 0;
}

.title h3 {
    float: left;
    margin: 0;
    color: #434343;
}

.title a {
    float: right;
}

.divider {
    background-color: #eaeaea;
    height: 1px;
    position: relative;
    margin: 15px 0;
}

.divider .or {
    position: absolute;
    top: -9px;
    left: 42%;
    background-color: #fff;
    padding: 0 20px;
}

.social-button {
    border-radius: 2px;
    width: 160px;
    float: left;
    color: #fff;
    cursor: pointer;
}

.social-button .inner {
    padding: 10px 0;
}
.icon {
    width: 38px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    float: left;
    height: 18px;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    background-color: #305db8;
}
.facebook .icon {
    background-image: url(../image/facebook.png);
}
.google {
    background-color: #df4a32;
    margin-left: 10px;
}
.google .icon {
    background-image: url(../image/google.png);
}